html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

pre {
    word-break: normal;
    overflow: scroll;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
.container {
    width: 1000px;
    position: relative;
}

/*********************Panel************/
.panel-body .btn:not(.btn-block) {
    width:120px;margin-bottom:10px;
}

/****************Bootstrap***********/
/*for card deck bootstrap define hight and  overflow scroll*/
.card-deck p{
    height: 150px;
    overflow: scroll;
}

/***********************home page*******************/

/* use this class for  100% width of image in carousel */
.carousel-item img{
    opacity: 0.9;
}
.carousel-inner img {
    width: 100%;
    height: 450px;
}
img{
    opacity: 0.9;
}

/*********Testimonial*****************************/
.Testimonial {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}


.Testimonial::after {
    content: "";
    clear: both;
    display: table;
}

.Testimonial img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.Testimonial span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .Testimonial {
        text-align: center;
    }
    .Testimonial img {
        margin: auto;
        float: none;
        display: block;
    }
}

/*********registration*****************************/
.fee {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}


.fee::after {
    content: "";
    clear: both;
    display: table;
}

.fee img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.fee span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .fee {
        text-align: center;
    }
    .fee img {
        margin: auto;
        float: none;
        display: block;
    }
}

/**********************media query***************/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* use this class to define different font size for some header in three pages in different screen size  */
    .responsive-header {
           font-size: 1.6em;
       }

    /* use this class to define some style for p tag in thumbnail par in home page */
    .thumbnail-p {
           margin-top: 1em;
           margin-bottom: 0.2em;
       }

    /* use this class to change the height of card image in this screen */
    .card-img-top {
           height: 38vh;
       }


}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* use this class to define different font size for some header in three pages in different screen size  */
    .responsive-header {
           font-size: 1.5em;
       }

    /* use this class to define some style for p tag in thumbnail par in home page */
    .thumbnail-p {
           margin-top: 1em;
           margin-bottom: 0.2em;
       }

    /* use this class to change the height of card image in this screen */
    .card-img-top {
           height: 36vh;
       }

}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    /* use this class to define different font size for some header in three pages in different screen size  */
    .responsive-header {
           font-size: 1.1em;
       }

    /* use this class to define some style for p tag in thumbnail par in home page */
    .thumbnail-p {
           margin-top: 1em;
           margin-bottom: 2.5em;
       }

    /* use this class to change font size of caption in carousel  in this size screen */
    .carousel-header-caption {
        font-size: 0.9em;
    }

    /* use this class to change the height of card image in this screen */
    .card-img-top {
           height: 25vh;
       }

    /* use this class to define margin top for thumbnail button in home page */
    .thumbnail-button {
        margin-top: 3em;
    }

}


/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    /* use this class to define different font size for some header in three pages in different screen size  */
    .responsive-header {
        font-size: 0.88em;
    }

    /* use this class to define some style for p tag in thumbnail par in home page */
    .thumbnail-p {
        margin-top: 1em;
        line-height: 1.3em;
        font-size: 0.85em;

    }

    /* use this class to change the height size of image in carousel in different screen size  */
    .carousel-inner img {
        height: 17em;
        margin-top: 1em;
    }


    /* use this class to change font size of caption in carousel  in this size screen */
    .carousel-header-caption {
        font-size: 0.8em;
    }

    /* use this class to change the height of card image in this screen */
    .card-img-top {
           height: 25vh;
       }

    /* use this class to define margin top for thumbnail button in home page */
    .thumbnail-button {
        margin-top: 3em;
    }

    /* use this class to change font size of button text in home page in this screen*/
    .button {
        font-size: 0.88em;
    }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    /* use this class to define different font size for some header in three pages in different screen size  */
    .responsive-header {
           font-size: 1.1em;
       }

    /* use this class to define some style for p tag in thumbnail par in home page */
    .thumbnail-p {
           margin-top: 1em;
           margin-bottom: 0.5em;
           font-size: 0.85em;
       }

    /* use this class to change the height size of image in carousel in different screen size */
    .carousel-inner img {
        height: 14em;
        margin-top: 1em;
    }

    /* use this class to change font size of caption in carousel  in this size screen */
    .carousel-header-caption {
        font-size: 0.78em;
    }

    /* use this class to change the height of card image in this screen */
    .card-img-top {
        height: 30vh;
    }

    /* use this class to define margin top for thumbnail button in home page */
    .thumbnail-button {
        margin-top: 0.2em;
    }

    /* use this class to change font size of button text in home page in this screen*/
    .button {
        font-size: 0.85em;
    }
}

/************************************header*/

.img-logo{
    height:50px;
}




.border p{

    display: inline-block;
    border: 1px solid black;


}

.feat{

    width: 100%;
}
.feat1{
    float: left;
    width: 45%;
    margin: 10px ;
}
footer {
    bottom: 0;
    width: 100%;
}
.social{
    float: right;
    width: 25%;
}
.about{
    float: left;
    width: 75%;
}

/* FORM TYPOGRAPHY*/

.login input[type=submit]{
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 20px 40px 25px;

}

.login input[type=submit]:hover  {
    background-color: #39ace7;
}

.login input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
  
  


.colorAHrefWhite{
    color: white;
}